.help-icon {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #0073aa;
    color: white;
    text-align: center;
    border-radius: 50%;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    font-weight: bold;
}

.tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 130%; /* Position the tooltip above the icon */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.tooltip-text::after {
    content: '';
    position: absolute;
    top: 100%; /* Position the arrow at the bottom of the tooltip */
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}

.help-icon:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

tr.meta-tags-list-row.hide th, tr.meta-tags-list-row.hide td {
    background-color: #fff4e5 !important;
}

.plugins .hide th.check-column {
    border-left: 4px solid #dba617 !important;
}