#wpfooter > #footer-upgrade {
    display: none !important;
}

#wpfooter > #footer-left {
    float: initial !important;
}

.d-none {
    display: none !important;
}

.ps-0 {
    padding-left: 0 !important;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-4 {
    margin-top: 4px !important;
}

.mb-2 {
    margin-bottom: 2px !important;
}

.text-red {
    color: #b32d2e !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.w-100 {
    width: 100% !important;
}