#wpfooter > #footer-upgrade {
    display: none !important;
}

#wpfooter > #footer-left {
    float: initial !important;
}

.d-none {
    display: none !important;
}

.ps-0 {
    padding-left: 0 !important;
}